<p id="notice"><%= notice %></p>

<h1 align="center">Listing all Libraries</h1>

    <% @libraries.each do |library| %>
      <div class="row">
<div class="md-8 offset-md-2">
<div class="card", style="width: 50rem;">
<div class="card-header">
      
     <strong>   <%= link_to library.name, library_path(library) , class: "library-title"%></strong>
        </div>
        <div class="card-body">
        <%= link_to 'Edit this library', edit_library_path(library), class: "btn btn-xs btn-primary" %>
<%= link_to 'Delete this library', library_path(library), method: :delete, data: { confirm: 'Are you sure?' },
class: "btn btn-xs btn-danger" %>
  </div>
  </div>
  <br>
  </div>
  </div> 
    <% end %>


<%= link_to 'New Library', new_library_path %>
